Making feature

In [37]:
import pandas as pd

In [46]:
price_df = pd.read_csv('test/test_price.csv')
target_df = pd.read_csv('test/test_target.csv')
preprocessing_df = pd.read_csv('test/test_preprocessing.csv')

In [47]:
pd.set_option('display.max_columns', 0)

In [48]:
price_df

             open_time      open  ...    spread                 time
0        1633046400000  43820.01  ...  0.000000  2021-10-01 00:00:00
1        1633046401000  43820.01  ...  0.000000  2021-10-01 00:00:01
2        1633046402000  43820.01  ...  0.000000  2021-10-01 00:00:02
3        1633046403000  43820.01  ...  0.000000  2021-10-01 00:00:03
4        1633046404000  43820.00  ...  0.000000  2021-10-01 00:00:04
...                ...       ...  ...       ...                  ...
2678395  1635724795000  61300.35  ...  0.000091  2021-10-31 23:59:55
2678396  1635724796000  61300.35  ...  0.000091  2021-10-31 23:59:56
2678397  1635724797000  61300.36  ...  0.000091  2021-10-31 23:59:57
2678398  1635724798000  61300.35  ...  0.000091  2021-10-31 23:59:58
2678399  1635724799000  61299.81  ...  0.000091  2021-10-31 23:59:59

[2678400 rows x 14 columns]

In [56]:
price_df['time'] = pd.to_datetime(price_df['time'])

             open_time      open  ...                time       returns
0        1633046400000  43820.01  ... 2021-10-01 00:00:00           NaN
1        1633046401000  43820.01  ... 2021-10-01 00:00:01 -2.282062e-07
2        1633046402000  43820.01  ... 2021-10-01 00:00:02  0.000000e+00
3        1633046403000  43820.01  ... 2021-10-01 00:00:03  2.282063e-07
4        1633046404000  43820.00  ... 2021-10-01 00:00:04 -8.649017e-05
...                ...       ...  ...                 ...           ...
2678395  1635724795000  61300.35  ... 2021-10-31 23:59:55  0.000000e+00
2678396  1635724796000  61300.35  ... 2021-10-31 23:59:56 -1.631312e-07
2678397  1635724797000  61300.36  ... 2021-10-31 23:59:57  1.631312e-07
2678398  1635724798000  61300.35  ... 2021-10-31 23:59:58 -8.972215e-06
2678399  1635724799000  61299.81  ... 2021-10-31 23:59:59 -1.631326e-07

[2678400 rows x 15 columns]

In [51]:
price_df['returns'] = price_df['close'].pct_change()

In [52]:
price_df

             open_time      open  ...                 time       returns
0        1633046400000  43820.01  ...  2021-10-01 00:00:00           NaN
1        1633046401000  43820.01  ...  2021-10-01 00:00:01 -2.282062e-07
2        1633046402000  43820.01  ...  2021-10-01 00:00:02  0.000000e+00
3        1633046403000  43820.01  ...  2021-10-01 00:00:03  2.282063e-07
4        1633046404000  43820.00  ...  2021-10-01 00:00:04 -8.649017e-05
...                ...       ...  ...                  ...           ...
2678395  1635724795000  61300.35  ...  2021-10-31 23:59:55  0.000000e+00
2678396  1635724796000  61300.35  ...  2021-10-31 23:59:56 -1.631312e-07
2678397  1635724797000  61300.36  ...  2021-10-31 23:59:57  1.631312e-07
2678398  1635724798000  61300.35  ...  2021-10-31 23:59:58 -8.972215e-06
2678399  1635724799000  61299.81  ...  2021-10-31 23:59:59 -1.631326e-07

[2678400 rows x 15 columns]

In [49]:
target_df

        date  transaction_count  transaction_amount  transaction_flag
0   20211001                  0        0.000000e+00                 0
1   20211002                  0        0.000000e+00                 0
2   20211003                  0        0.000000e+00                 0
3   20211004                  1        3.060618e+12                 1
4   20211005                  0        0.000000e+00                 0
5   20211006                  2        6.623065e+11                 1
6   20211007                  0        0.000000e+00                 0
7   20211008                  0        0.000000e+00                 0
8   20211009                  0        0.000000e+00                 0
9   20211010                  0        0.000000e+00                 0
10  20211011                  0        0.000000e+00                 0
11  20211012                  2        1.032499e+12                 1
12  20211013                  0        0.000000e+00                 0
13  20211014                  0        0.000000e+00                 0
14  20211015                  1        9.810000e+11                 1
15  20211016                  0        0.000000e+00                 0
16  20211017                  0        0.000000e+00                 0
17  20211018                  0        0.000000e+00                 0
18  20211019                  0        0.000000e+00                 0
19  20211020                  1        5.365685e+11                 1
20  20211021                  1        1.300638e+12                 1
21  20211022                  4        3.629909e+12                 1
22  20211023                  1        3.500000e+11                 1
23  20211024                  1        5.881498e+12                 1
24  20211025                  5        5.514721e+12                 1
25  20211026                  7        6.433684e+12                 1
26  20211027                  1        3.408893e+12                 1
27  20211028                  0        0.000000e+00                 0
28  20211029                  1        2.088800e+12                 1
29  20211030                  0        0.000000e+00                 0
30  20211031                  2        6.695255e+11                 1

In [50]:
preprocessing_df

              block_datetime  transaction_count  transaction_amount
0        2021-10-01 00:00:00                  0                 0.0
1        2021-10-01 00:00:01                  0                 0.0
2        2021-10-01 00:00:02                  0                 0.0
3        2021-10-01 00:00:03                  0                 0.0
4        2021-10-01 00:00:04                  0                 0.0
...                      ...                ...                 ...
2678395  2021-10-31 23:59:55                  0                 0.0
2678396  2021-10-31 23:59:56                  0                 0.0
2678397  2021-10-31 23:59:57                  0                 0.0
2678398  2021-10-31 23:59:58                  0                 0.0
2678399  2021-10-31 23:59:59                  0                 0.0

[2678400 rows x 3 columns]