In [2]:
import pandas as pd
import numpy as np

In [3]:
event_df = pd.read_csv("./data/event/final/bitcoin_event_details_sentiment_250324.csv")
event_df = event_df.drop_duplicates(subset='Date')
event_df = event_df.set_index('Date')
event_df

,Title,Coin Name & Symbol,classification
Date,,,
20180111,Listing on DMM - Japan,Bitcoin (BTC) and 6 others,1
20180113,KFC Canada Accepts BTC,Bitcoin (BTC),1
20180118,NA Bitcoin Conference,Blockmason Credit Protocol (BCPT) and 13 others,1
20180125,Philippines Conference,General Event (CRYPTO) and 1 other,1
20180126,CME Contracts Expire,Bitcoin (BTC),2
...,...,...,...
20221111,FTX Bankrupt,General Event (CRYPTO),0
20230925,Mixin Network Hack,Multiple Cryptocurrencies,0
20240110,U.S. Spot ETFs,Bitcoin (BTC),1
20240408,Bitcoin Layer2 Conference,General Event (CRYPTO),1
20240420,Block Reward Halving,Bitcoin (BTC),1

In [4]:
event_flag_df = pd.read_csv('./data/event/final/bitcoin_events_flag_250324.csv')
event_flag_df.columns = ['Date', 'Event']
event_flag_df = event_flag_df.set_index('Date')
event_flag_df[event_flag_df['Event']==1]

            Event
Date
2018-01-11      1
2018-01-13      1
2018-01-18      1
2018-01-25      1
2018-01-26      1
...           ...
2022-11-11      1
2023-09-25      1
2024-01-10      1
2024-04-08      1
2024-04-20      1

[120 rows x 1 columns]

In [5]:
event_flag_df = pd.read_csv('./data/event/final/bitcoin_events_flag_screened_250324.csv')
event_flag_df.columns = ['Date', 'Event']
event_flag_df = event_flag_df.set_index('Date')
event_flag_df[event_flag_df['Event']==1].value_counts()

Event
1        58
Name: count, dtype: int64

In [11]:
coin_dominance = pd.read_csv('./data/coin_dominance/coin_dominance.csv')
coin_dominance['timestamp'] = coin_dominance['timestamp'].apply(lambda x: x[:11])
coin_dominance = coin_dominance.set_index('timestamp')
coin_dominance = coin_dominance[(coin_dominance.index >= '2018-01-01')&(coin_dominance.index <= '2024-09-30')]
coin_dominance

               Bitcoin   Ethereum    Tether       BNB    Solana     Others
timestamp
2018-01-01   38.622168  11.922471  0.226009  0.139404  0.000000  49.089947
2018-01-08   33.385532  13.537585  0.178101  0.222835  0.000000  52.675947
2018-01-15   32.813273  18.780600  0.211444  0.292131  0.000000  47.902551
2018-01-22   34.736213  18.199386  0.288439  0.249609  0.000000  46.526354
2018-01-29   33.240179  20.371800  0.378271  0.225305  0.000000  45.784445
...                ...        ...       ...       ...       ...        ...
2024-08-26   56.259203  14.652369  5.226631  3.714042  3.282735  16.865019
2024-09-02   56.329465  14.532041  5.884521  3.722687  2.987812  16.543474
2024-09-09   55.738855  14.217080  6.079804  3.776502  3.127266  17.060493
2024-09-16   56.786325  13.552646  5.775658  3.928082  2.992258  16.965030
2024-09-23   56.773300  14.037256  5.383681  3.876983  3.063902  16.864878

[352 rows x 6 columns]

In [13]:
import pandas as pd

# 기본 describe()
summary = coin_dominance.describe()

# First와 Last 값 계산
first = coin_dominance.iloc[0]
last = coin_dominance.iloc[-1]

# summary에 추가
summary.loc["first"] = first
summary.loc["last"] = last

# 보기 좋게 정렬 (optional: 인덱스 순서를 재정렬)
summary = summary.loc[
    ['count', 'mean', 'std', 'min', '25%', '50%', '75%', 'max', 'first', 'last']
]

print(summary)

          Bitcoin    Ethereum      Tether         BNB      Solana      Others
count  352.000000  352.000000  352.000000  352.000000  352.000000  352.000000
mean    51.336722   14.814415    3.750432    2.409577    0.819113   26.869741
std      9.401602    4.168075    2.279657    1.513020    1.012705    7.051154
min     32.813273    0.000000    0.000000    0.000000    0.000000   14.318762
25%     42.407445   10.623750    1.647140    1.021568    0.000000   21.130857
50%     51.221228   16.385015    3.440778    2.620588    0.496987   25.751576
75%     58.395817   18.390186    5.735844    3.696592    1.357862   30.212344
max     69.897890   21.695559    8.295323    5.895278    3.547161   52.675947
first   38.622168   11.922471    0.226009    0.139404    0.000000   49.089947
last    56.773300   14.037256    5.383681    3.876983    3.063902   16.864878